* {
    margin: 0;
    padding: 0;
    box-shadow: none !important;
}

nav {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav form {
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

nav form input {
    width: 50% !important;
}

nav span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 100%;
}

section {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    height: auto;
    width: 40%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.duo-blocks,
.three-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.duo-blocks div,
.three-blocks div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-blocks input,
.duo-blocks input {
    width: 90%;
}

.three-blocks div {
    display: flex;
    flex-direction: column;
    align-items: center;
}