@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

input,
button,
textarea {
    box-shadow: none !important;
}

body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    gap: 20px;
    justify-content: center;
}

nav {
    width: 550px;
    align-items: center;
}

main .main-container {
    padding: 20px;
    width: 75%;
    background-color: #5b6470;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(179, 179, 179, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(179, 179, 179, 1);
    box-shadow: 5px 5px 5px 0px rgba(179, 179, 179, 1);
}

main .main-container section {
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #aba4a4;
    gap: 10px;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
        margin: 10px 0;
    }

    main .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    nav {
        align-items: center;
        width: auto;
    }

    nav .search-section {
        width: 85%;
    }

    nav img {
        width: 250px;
        height: 150px;
    }

    section {
        width: 100% !important;
        border-left: none !important;
    }
}
